.logo-in-menu {
    opacity: 1;
    height: 50px;
    width: auto;
    margin: 20px 16px 10px 10px;
    float: left;
    transition-duration: 100ms;
    transition: transform 0.3s ease-out;
}
.logo-in-menu:hover {
    transform: scale(1.3);
}

.navbar-default {
    background-color: blue;
}

#logOut {
    display: none;
}

#bs-example-navbar-collapse-1 {
    float: right;
    border: 50px;
    width: 320px;
}

#logAs, #logAs2 {
    float: left;
    width: 300px;
    color: #9d9d9d;
    font-size: 16px;
    margin: 40px 0 0 20px;
}

/*IKONY WALUT*/
#cancelLikedCurr {
    display: none;
    color: #001038;
    font-style: italic;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px 5px;
    margin: 40px;
}

#iconTitle {
    font-family: serif;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    color: #001038;
    margin-top: 20px;
    margin-bottom: 30px;
}

#iconTitleLiked {
    display: none;
    font-family: serif;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    color: #001038;
    margin-top: 20px;
    margin-bottom: 30px;
}

#icons {
    text-align: center;
}

.iconDiv h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    color: #1D3961;
    transition: transform 0.3s ease-out;
}

.iconDiv h1:hover {
    color: #5E1215;
    cursor: pointer;
    transform: scale(1.3);
}

.iconDiv p {
    color: #1D3961;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
}

.liked {
    color: #0DC957 !important;
}

/* CHARTS */
.chartTitle {
    font-family: serif;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    color: #001038;
    margin-top: 80px;
    margin-bottom: 20px;
    top: 30px;
}

.chartPara {
    font-family: serif;
    font-weight: 600;
    text-align: center;
    color: #001038;
    margin-top: 20px;
    margin-bottom: 30px;
}

/*FRIENDS RECOMMENDATION*/
form h3 {
    font-family: serif;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    color: #001038;
    margin-top: 20px;
    margin-bottom: 30px;
}

label {
    margin: 5px;
    color: #001038;
}

form button {
    margin: 15px 15px;
}

#recommendAsNameDiv {
    display: none;
}

#recommendAsName {
    background-color: #75A3FF;
    border-radius: 10px 10px;
    min-height: 40px;
}

#recommendAsName p {
    color: white;
    line-height: 40px;
    font-style: italic;
    text-align: center;
}

#recommendDiv {
    background-color: #7588FF;
    border-radius: 10px 10px;
    min-height: 40px;
}

#recommendDiv p {
    color: white;
    line-height: 40px;
    font-style: italic;
    text-align: center;
}

#recommendDiv span {
    font-weight: 600;
}

#cancelRecommend {
    margin: 0 0 0 15px;
    color: grey;

}

#alert {
    background-color: lightgreen;
    border-radius: 10px 10px;
}

#alert p {
    color: grey;
    text-align: center;
}

footer, section {
    clear: both;
}

#backcover {
    background:black;
    width:100%;
    height:100%;
    position:fixed;
    z-index:200;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

#loginWindow {
    position:fixed;
    background:white;
    left:30px;
    right: 30px;
    width:400px;
    margin:50px auto 0 auto;
    font-size:20px;
    color:red;
    z-index:201;
    padding:50px 50px;
    border-radius: 15px 15px;
}

#text-in-window, #modal-login-text {
    font-family: serif;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    color: #001038;
    margin-top: 40px;
    margin-bottom: 40px;
    clear: both;
}

.logo-in-modal {
    opacity: 1;
    height: 100px;
    width: auto;
    clear: both;
    margin: 0 30%;
}

#my-signin2, #my-signin3  {
    clear: both;
    margin-left: 30px;
    display: inline-block;
}

#google-button-style {
    margin: 0 auto;
    clear: both;
    width: 100%;
}

.navbar-header {
    height: 100px;
}
.container2{
    left: 1000px;
}