
.logo-in-menu {
    opacity: 1;
    height: 40px;
    width: auto;
    margin: 10px 16px 10px 10px;
    float: left;
    transition-duration: 100ms;
}
.navbar-default {
    background-color: blue;
}

#logOut{
    display: none;
}
#logAs {

    color: #9d9d9d;
    margin-top:15px;
}
 /*IKONY WALUT*/
#icons{
    text-align: center;
}

.iconDiv h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    color: #1D3961;
}

.iconDiv p {
    color: #1D3961;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
}
.liked {
  color : #0DC957 !important;
}


/*FRIENDS RECOMMENDATION*/
form h3 {
    font-size: 16px;
    font-weight: 600;
    color: #001038;
    text-align: center;
}

label{
    margin: 5px;
    color: #001038;
}


#recommendDiv{
    background-color: #75A3C1;
    border-radius: 10px 10px;
    min-height: 40px;
}
#recommendDiv p{
    color: white;
    line-height: 40px;
    font-style: italic;
    text-align: center;
}
#recommendDiv span{
    font-weight: 600;
}
#cancelRecommend {
    margin : 0 0 0 15px;
    color: grey;

}

#alert{
    background-color: lightgreen;
    border-radius: 10px 10px;
}
#alert p {
    color: grey;
    text-align: center;
}

footer , section{
    clear: both;
}


section {
    display: inline-block;
}